*{
    font-family: monospace;
}
h1{
    color: white;
    background-color: teal;
    text-align: center;
}
h2{
    color: white;
    background-color: navy;

}
/*全てのフォント統一. unify everything first. her preference*/
/* COLORS */

/* 3 values */
.rgb{
    color: rgb(104, 136, 230);
}
/* 4 values */
.rgba{
    color: rgba(220, 6, 6, 0.813);
}
/* https://htmlcolorcodes.com/*/
.hexcode{
    color: #9B59B6;
}
/*Font Family*/
.serif{
    font-family: serif;
}
.sans-serif{
    font-family: sans-serif;
}
.monospace{
    font-family: monospace;
}

/* font-size */
.em-size{
    font-size: 2em;
}
.px-size{
    font-size: 20px;
}
.percent-size{
    font-size: 200%;
}

/* font-weight */
.bold{
    font-weight: bold;
}
.lighter{
    font-weight: lighter;
}
.weight-300{
    font-weight: 300;
}
.weight-900{
    font-weight: 900;
}

/* font-style*/
.oblique{
    font-family: sans-serif;
    font-style: oblique;
}
.italic{
    font-family: serif;
    font-style: italic;
}

/* text-transform*/
.uppercase{
    text-transform: uppercase;
}
.lowercase{
    text-transform: lowercase;
}
.capitalize{
    text-transform: capitalize;
}

/* text-decoration */
.none{
    text-decoration: none;
    color: black;
}
.overline{
    text-decoration: overline;
}
.underline{
    text-decoration: underline;
}
.line-through{
    text-decoration: line-through;
}

/* text-align*/
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.center{
    text-align: center;
    /* text-shadow*/
    /* 3 values = horizontal, vertical, blur, color */
    text-shadow: -9px 9px 9px green;
}
/* text-align はimageには適用できない*/

/* 3text-indent*/
.px-indent{
    text-indent: 20px;
}
.percent-indent{
    text-indent: 20%;
}
.em-indent{
    text-indent: 2em;
}
/* letter-spacing */
.letter{
    letter-spacing: 20px;
}
/* word-spacing */
.word{
    word-spacing: 20px;
}